/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, #sub-page ul,
#sub-page ol, .drawers-section-title .btns, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


/* Fonts */
@font-face {
  font-family: "Suisse Int'l"; 
  src: url("../assets/fonts/Suisse\ BP\ Int\'l\ Thin.eot"); 
  src: url("../assets/fonts/Suisse\ BP\ Int\'l\ Thin.eot?#iefix") format("embedded-opentype"), 
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Thin.woff2") format("woff2"),
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Thin.woff") format("woff"),
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Thin.ttf") format("truetype"),
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Thin.otf") format("opentype"); 
  font-weight: 400;
}

@font-face {
  font-family: "Suisse Int'l"; 
  src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot"); 
  src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.svg#Suisse Int'l") format("svg"),
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Regular.woff"); 
  font-weight: 500;
}

@font-face {
  font-family: "Suisse Int'l"; 
  src: url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.eot"); 
  src: url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.svg#Suisse Int'l Medium") format("svg"),
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Medium.woff"); 
  font-weight: 600;
}

@font-face {
  font-family: "Suisse Int'l"; 
  src: url("//db.onlinewebfonts.com/t/8e52b05f6b6c1a65b0c49c8286f690b2.eot"); 
  src: url("//db.onlinewebfonts.com/t/8e52b05f6b6c1a65b0c49c8286f690b2.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/8e52b05f6b6c1a65b0c49c8286f690b2.svg#Suisse Int'l Bold") format("svg"),
  url("../assets/fonts/Suisse\ BP\ Int\'l\ Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Suisse Mono";
  src: url("https://db.onlinewebfonts.com/t/008acf881eac29f0c639b8e2345a1764.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/008acf881eac29f0c639b8e2345a1764.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/008acf881eac29f0c639b8e2345a1764.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/008acf881eac29f0c639b8e2345a1764.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/008acf881eac29f0c639b8e2345a1764.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/008acf881eac29f0c639b8e2345a1764.svg#Suisse Int'l Mono") format("svg"), /* iOS 4.1- */
  url("../assets/fonts/Suisse\ Mono\ Regular.woff"),
  url("../assets/fonts/Suisse\ Mono\ Regular.woff2");
}

@font-face {
  font-family: "Suisse Works";
  src: url("../assets/fonts/Suisse\ Works\ Medium.otf") format("opentype");
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  #content #contact > div { margin-right: 1rem; }
  #content #contact a:not(:first-child):not(:last-child) { margin-right: 1rem; }
  #content #contact .external { width: 0.5rem; height: 0.5rem; }
  #contact a { font-size: 0.8rem; }
}

@media only screen and (max-width: 767px) {
  /* Header */
  #header { margin-bottom: 3rem; }
  #headline { margin-bottom: 2rem; }
  #content #headline-text { font-size: 2rem; }

  /* Landing */
  #intro #message { margin-bottom: 3rem; width: 100%; }

  /* Main */
  #content #work-tab { grid-template-columns: 100%; }
  #content #work-tab div h2 { display: none; }
  #work-tab div .work-item { grid-template-columns: 10% 90%; grid-template-rows: 12rem; }
  #work-tab div .work-item div { width: 100%; }
  #work-tab div .work-item div h3 { font-size: 1.3rem; padding: 0.17rem; height: initial; }
  #content #about-tab { grid-template-columns: 100%; grid-template-rows: 70vw; }
  #content #about-tab #portrait { border-radius: 3px; height: 60vw; margin-right: 0; }
  #work-tab .work-item .numerate { font-size: 0.9rem; }
  #content #work-tab .work-item div { width: 100%; }
  #work-tab > div:last-child { display: none; }

  /* Work */
  #content .work-content { margin: 0 auto 5rem; }
  #content .work-content h3 { margin: 3rem 0; font-size: 2rem; }
  #content .work-container .content { flex-direction: column; }
  #content .work-container .content .sticky-image { position: static; width: 100%; margin: 0 0 10vw 0; }
  #content .work-container .content .narrative { width: 100%; }
  #content .work-content .details { flex-direction: column; padding: 1.5rem; }
  #content .work-content .details div { width: 100%; max-width: 100%; padding: 0; margin-bottom: 1.5rem; }
  #content .narrative { z-index: -1; }

  /* Contact */
  body #contact { font-size: 1rem; font-weight: 500; display: flex; justify-content: space-between; float: none; width: 100%; margin: auto; }
  body #contact a:not(:last-child) { margin: 0; }

  body .spacer6 { margin-bottom: 20vw; }
  body .spacer5 { margin-bottom: 15vw; }
  body .spacer4 { margin-bottom: 10vw; }
  body .spacer3 { margin-bottom: 3rem; }
  body .spacer2 { margin-bottom: 6vw; }
  body .spacer1 { margin-bottom: 3vw; }
}

@media only screen and (max-width: 1023px) {
  #work-tab div .work-item div h3 { font-size: 1.3rem; padding: 0.17rem; height: initial; }
  #content #work-tab .work-item { grid-template-columns: 10% 90%; }
  #work-tab .work-item div { width: 80%; }
}

.spacer6 { margin-bottom: 15vw; }
.spacer5 { margin-bottom: 10vw; }
.spacer4 { margin-bottom: 6vw; }
.spacer3 { margin-bottom: 4vw; }
.spacer2 { margin-bottom: 2vw; }
.spacer1 { margin-bottom: 1vw; }
.spacer0 { margin-bottom: 0; }

.hidden { display: none; }
.center { text-align: center; }
.medium { font-weight: 600; font-size: inherit; }
.float-left { float: left; }
.float-right { float: right; }
.margin-top-none { margin-top: 0 !important; }
.mono { font-family: "Suisse Mono"; }

/* Variables --------------------------------------------------------------- */
:root {
  --text: #FFFDE7;
  --bg: #3C405A;
}


html, body {
  font-family: "Suisse Int'l", Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  line-height: 160%;
  background-color: var(--bg, indigo);
  color: var(--text, white);
  /* scroll-behavior: smooth; */
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade {
  opacity: 0;
  transition: none;
}

.noise {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .02;
  background-color: white;
}

/* Header ------------------------------------------------------------------ */
#headline {
  float: left;
}
#headline a {
  text-decoration: none;
}
#headline-text {
  font-family: "Suisse Works";
  display: inline;
  font-size: 1rem;
  font-weight: 600;
}

#contact {
  float: right;
  transition: 0.3s;
}
#contact a {
  text-decoration: none;
  color: var(--text, white);
  transition: 0.3s;
}
#contact a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
#contact .external {
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  background-image: url("../assets/images/external.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#contact > div {
  margin-right: 2rem;
  display: inline-block;
}
#contact a:not(:first-child):not(:last-child) {
  margin-right: 2rem;
}
#email:hover {
  cursor: pointer;
}

/* Content ----------------------------------------------------------------- */
#content {
  margin: 5rem auto;
  width: 75%;
  max-width: 1000px;
}

#message {
  font-size: 2rem;
  width: 70%;
  margin-bottom: 0.3rem;
  line-height: 120%;
}
#message a {
  color: var(--text, white);
  font-size: 1.8rem;
  text-decoration: none;
}
#me {
  text-decoration: underline;
}
#me:hover {
  cursor: pointer;
}

#tab {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
#tab h2 {
  position: relative;
  color: #9E9E9E;
}
#tab h2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text, white);
  visibility: hidden;
  transition: .3s;
}
#tab h2:hover::before, #tab h2.active::before {
  visibility: visible;
  width: 100%;
}
#tab h2.active {
  color: inherit;
}
#tab h2.dark:hover::before, #tab h2.dark::before {
  background-color: white;
}
#tab h2:hover {
  cursor: pointer;
}
#tab h2:not(:first-child) {
  margin-left: 2rem;
}
#tab h2:nth-child(3) {
  margin: 0;
}

#work-tab {
  position: absolute;
  max-width: 1000px;
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  transition: .6s;
}
#work-tab div h2 {
  margin-bottom: 2vw;
  font-weight: 500;
  font-size: 1.2rem;
}

.work-item {
  display: grid;
  grid-template-columns: 7% 93%;
  grid-template-rows: 15rem;
}
.work-item div {
  width: 75%;
}
.work-item div h3 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2vw;
  width: fit-content;
  background: linear-gradient(to right, var(--text) 50%, var(--bg) 50%);
  background-size: 200% 170%;
  background-position: right bottom;
  transition: .5s;
  padding: 0.2rem;
  line-height: initial;
}
.work-item div h3:hover {
  background-position: left bottom;
  color: var(--bg);
}
.work-item div h3:hover a {
  color: var(--bg, indigo);
  transition: .5s;
}
.work-item div h3 a {
  color: var(--text, white);
  text-decoration: none;
}
.numerate {
  font-family: "Suisse Mono";
}

#about-tab {
  grid-template-columns: 50% 50%;
  grid-template-rows: 33rem;
  transition: .6s;
  display: none;
}
#about-tab div:not(:last-child) {
  margin-right: 4vw;
}
#about-tab h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
#about-tab a {
  color: inherit;
}

.mobile-tab {
  display: none;
}

#portrait {
  background-image: url("../assets/images/portrait.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

/* Work -------------------------------------------------------------------- */
.work-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg, indigo);
  transform: translateY(100vh);
  transition: .6s;
  overflow: scroll;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: black !important;
}

.work-content {
  margin: 5rem auto;
  width: 75%;
  max-width: 1300px;
}

.work-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bg);
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
}

.work-nav {
  position: absolute;
}
.work-nav img {
  transition: 0.3s;
  height: 1.1rem;
  margin-right: 1rem;
}
.work-nav img + span {
  font-weight: 500;
  font-size: 1.3rem;
  vertical-align: text-bottom;
}
.work-nav:hover {
  cursor: pointer;
}
.work-nav:hover img {
  transform: rotate(180deg);
  transition: 0.3s;
}

.work-content h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5rem 0;
  line-height: initial; 
}

.details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Suisse Mono";
  font-size: 0.8rem;
  background-color: #4E5269;
  box-sizing: border-box;
  padding: 2rem 4rem;
  border-radius: 5px;
  margin-bottom: 4vw;
}

.details div {
  /* width: fit-content;
  max-width: 25%; */
  width: 20%;
  box-sizing: border-box;
}
.details div:not(:last-child) {
  margin-right: calc(20%/3);
}

.details div h5 {
  margin-bottom: 1vw;
}

.details div p {
  color: #9E9E9E;
}

.details a {
  color: inherit;
}

.content {
  display: flex;
  align-items: flex-start;
}

.sticky-image {
  position: sticky;
  top: 5rem;
  border-radius: 5px;
  width: 40%;
  height: 85vh;
  margin-right: 5%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;
}

#caida-img { background-image: url("../assets/images/caida/banner.jpg"); }
#sgf-img { background-image: url("..//assets/images/sgf/banner.mov"); }
#dco-img { background-image: url("../assets/images/designco/banner.jpg"); }
#census-img { background-image: url("../assets/images/census/banner.jpg"); }
#tritonfest-img { background-image: url("../assets/images/tritonfest/banner.jpg"); }
#grandama-img { background-image: url("../assets/images/grandama/banner.jpg"); }
#ip-img { background-image: url("../assets/images/ip/banner.jpg"); }
#photo-img { background-image: url("../assets/images/photography/banner.jpg"); }

.narrative {
  width: 55%;
  font-size: 1.1rem;
  line-height: 160%;
  counter-reset: subheader;
  z-index: 1;
}

.narrative p, .narrative ul {
  color: #9E9E9E;
}

.narrative ul {
  padding-left: 2rem;
}

.narrative h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1vw;
}

.narrative h5 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 0.5vw;
}

.narrative h5::before {
  counter-increment: subheader;
  content: "0" counter(subheader) ".";
  font-family: "Suisse Mono";
  font-size: 1.1rem;
}

.narrative img {
  border-radius: 5px;
  width: 100%;
}

.logo {
  width: 30% !important;
}

.dual-image {
  display: grid;
  grid-template-columns: 50% 50%;
}

.blend img:first-child {
  border-radius: 5px 0 0 5px;
}

.blend img:last-child {
  border-radius: 0 5px 5px 0;
}

.space-btn img {
  width: 50%;
  height: auto;
  margin: auto;
}