/*-----------------------------RESPONSIVENESS*/
@media only screen and (max-width: 767px) {
  body #work-title { font-size: 7vw; margin-bottom: 0 !important; }
  body #caida-banner, body #snaash-banner, body #zilter-banner, body #quickly-banner, body #extras-banner { height: 20vw; }

  body #left-col { padding-right: 0; }

  body .first { order: 1; }
  body .second { order: 2; }
  body .four-six-container { grid-template-columns: 100%; }
  body .four-six-container img { margin: 0 0 6vw 0; width: 100% !important; }
  body .five-five-container { grid-template-columns: 100%; }
  body .five-five-container img { float: none; margin: 0 0 6vw 0; }
  body #img-caption { font-size: 2.5vw; }

  body #right-col { order: 1; display: none; margin: 6vw 0; }
  body #left-col { order: 2; }
  body .head-container #work-blurb, body #details { display: block; font-size: 3.2vw; }
  body .head-container #extras-blurb { display: none; }
  body #extras-header { font-size: 5vw; margin-bottom: 2.5vw; }

  body .body-container { grid-template-columns: 100%; margin-bottom: 10vw; }
  body .body-container p { font-size: 3.2vw; }
  body .body-container #body-header { font-size: 5vw; margin-bottom: 2.5vw; }
  body .body-container .subheader { font-size: 4vw; }
  body .body-container .info-header { margin-top: 6vw; }
  body .body-container .info-header h3 { font-size: 3.2vw; margin-bottom: 1vw; font-weight: 700; }
  body .body-container .info-header p { font-size: 2.8vw; }
  body .body-container h5 { font-size: 4vw; }
  body .body-container #right-col div:first-child { margin-top: 0; }
  body .body-container #zilter-logo { width: 80% !important; padding-top: 5vw; padding-bottom: 5vw; }
  body .body-container ul { font-size: 3.2vw; }
  body .body-container ul li { padding: 2vw 0; }
  
  body .head-container #designco-banner { height: 100vw; }

  body .prototype-container { grid-template-columns: 100%; }
  body .prototype-container div { margin: 0 0 12vw 0; }
  body .mobile-hidden { display: none; }
} 

#designco-banner { 
  background-color: #999;
  height: 40vw;
  background-image: url('../assets/designco/designco-banner.jpg');
  background-size: cover;
  background-position: center;
}

#caida-banner { background-color: #BBE8E0; /*background-image: url('../assets/caida-banner.jpg'); background-size: cover;*/ }
#snaash-banner { background-color: #F3D1A6; /*background-image: url('../assets/snaash-banner.jpg'); background-size: cover;*/ }
#zilter-banner { background-color: #A5D6A7; /*background-image: url('../assets/zilter-banner.jpg'); background-size: cover;*/ }
#quickly-banner { background-color: #FFF279; /*background-image: url('../assets/quickly-banner.jpg'); background-size: cover;*/ }
#extras-banner { background-color: #DCDCDC; }

#link { transition: all 0.5s ease; }

.subheader {
  font-weight: 600;
  margin-top: 0;
  color: #8C8C8C;
}

#img-caption {
  font-size: 1vw;
  color: #8C8C8C;
  text-align: center;
}

.banner {
  width: 100vw;
  /* height: 40vw; */
  height: 10vw;
  margin: 0 0 0 -12vw;
}

.info-header {
  margin-top: 3vw;
}

.info-header h3 {
  font-weight: 600;
}

#valign-div {
  display: table-cell;
  vertical-align: middle;
}

#work-title {
  font-size: 4vw;
  font-weight: bold;
  margin-top: 0;
}

#details {
  color: #A8A8A8;
  padding: 0;
  background: none;
  border: none;
}

.inline-div { float: left; }

#left-col { padding-right: 3vw; }
#right-col { display: block; }

.logo-width { width: 40% !important; }

.drop-shadow-half { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.drop-shadow-full { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19); }

.prototypes {
  border: none;
  width: 100%;
  height: 50vw;
}

#extras-header {
  font-size: 2.6vw;
  font-weight: 700;
  margin-top: 0;
}

/*---------------------------Body Container*/
.body-container {
  display: grid;
  grid-template-columns: 82% 18%;
}

.body-container p {
  font-size: 1vw;
}

.body-container img {
  width: 100%;
}

.body-container a {
  cursor: pointer;
}

#body-header {
  font-size: 1.6vw;
  font-weight: 600;
}

.body-container ul {
  margin-top: 0;
}

.body-container ul li {
  padding: 0.7vw 0;
}

/*---------------------------four-six Container*/
.four-six-container {
  display: grid;
  grid-template-columns: 40% 55%;
}

.four-six-container p {
  font-size: 1vw;
  margin: 0;
}

.four-six-container img {
  margin-left: 3vw;
}

/*---------------------------five-five Container*/
.five-five-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5vw;
}

.five-five-container img {
  width: calc(100% - 1vw);
  text-align: center;
}  

/*---------------------------Prototype Container*/
.prototype-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5vw;
}

.prototype-container img {
  width: calc(100% - 9vw);
  text-align: center;
}  