/*-----------------------------RESPONSIVENESS*/
@media only screen and (max-width: 767px) {
  body #work-title { font-size: 7vw; margin-bottom: 0 !important; }
  body #caida-banner, body #grandama-banner, body #zilter-banner, body #quickly-banner, body #extras-banner { height: 20vw; }

  body #left-col { padding-right: 0; }

  body .first { order: 1; }
  body .second { order: 2; }
  body .four-six-container { grid-template-columns: 100%; }
  body .four-six-container img { margin: 0 0 6vw 0; width: 100% !important; }
  body .five-five-container { grid-template-columns: 100%; }
  body .five-five-container img { float: none; margin: 0 0 6vw 0; }
  body .five-five-container .persona { padding: 5vw !important; }
  body #img-caption { font-size: 2.5vw; }

  body #right-col { order: 1; display: none; margin: 0 0 6vw 0; }
  body #left-col { order: 2; }
  body #work-blurb, body #details { display: block; font-size: 3.2vw; }
  body #work-blurb + button { margin-bottom: 5vw !important; }
  body .head-container #extras-blurb { display: none; }
  body #extras-header { font-size: 5vw; margin-bottom: 3vw !important; }

  body .body-container { grid-template-columns: 100%; margin-bottom: 10vw; }
  body .body-container p { font-size: 3.2vw; }
  body .body-container #body-header { font-size: 5vw; margin-bottom: 2.5vw; }
  body .body-container .subheader { font-size: 4vw; }
  body .body-container .info-header { margin-top: 6vw; }
  body .body-container .info-header h3 { font-size: 3.2vw; margin-bottom: 1vw; font-weight: 700; }
  body .body-container .info-header p { font-size: 2.8vw; }
  body .body-container h5 { font-size: 4vw; }
  body .body-container #right-col div:first-child { margin-top: 0; }
  body .body-container #zilter-logo { width: 80% !important; padding-top: 5vw; padding-bottom: 5vw; }
  body .body-container ul { font-size: 3.2vw; }
  body .body-container ul li { padding: 2vw 0; }
  
  body .head-container #designco-banner { height: 70vw; }

  body .prototype-container { grid-template-columns: 100%; }
  body .prototype-container div { margin: 0 0 12vw 0; }
  body .mobile-hidden { display: none; }
  body .logo { width: 50% !important; display: block; margin: auto; }
} 

#designco-banner { background-image: url('../assets/designco/designco-banner.jpg'); }
#photography-banner { background-image: url('../assets/photography/banner.png'); }
#caida-banner { background-image: url('../assets/caida/banner.png'); }
#grandama-banner { background-color: #F3D1A6; /*background-image: url('../assets/grandama-banner.jpg'); background-size: cover;*/ }
#more-banner { background-color: #DCDCDC; }

#link { transition: all 0.5s ease; }

.subheader {
  font-weight: 600;
  margin-top: 0;
  color: #8C8C8C;
}

#img-caption {
  color: black;
  text-align: center;
}

.info-header {
  margin-top: 3vw;
}

.info-header h3 {
  font-weight: 600;
}

#valign-div {
  display: table-cell;
  vertical-align: middle;
}

#work-title {
  font-size: 4vw;
  font-weight: bold;
  margin-top: 0;
}

#details {
  color: #A8A8A8;
  padding: 0;
  background: none;
  border: none;
}

.inline-div { float: left; }

#left-col { padding-right: 3vw; }
#right-col { display: block; }

.logo { width: 30% !important; }

.drop-shadow-half { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01); border-radius: 10px; }
.drop-shadow-full { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.01); border-radius: 10px; }

.prototypes {
  border: none;
  width: 100%;
  height: 50vw;
}

#extras-header {
  font-size: 2.6vw;
  font-weight: 700;
  margin-top: 0;
}

/*---------------------------Body Container*/
.body-container {
  display: grid;
  grid-template-columns: 82% 18%;
}

.body-container img {
  width: 100%;
}

.body-container a {
  cursor: pointer;
}

#body-header {
  font-size: 1.6vw;
  font-weight: 600;
}

.body-container ul {
  margin-top: 0;
}

.body-container ul li {
  padding: 0.7vw 0;
}

/*---------------------------four-six Container*/
.four-six-container {
  display: grid;
  grid-template-columns: 40% 55%;
}

.four-six-container p {
  margin: 0;
}

.four-six-container img {
  margin-left: 3vw;
}

/*---------------------------five-five Container*/
.five-five-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5vw;
}

.five-five-container img {
  width: calc(100% - 1vw);
  text-align: center;
}  

.persona {
  width: 50% !important;
  margin: auto !important;
}

/*---------------------------Prototype Container*/
.prototype-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5vw;
}

.prototype-container img {
  width: calc(100% - 9vw);
  text-align: center;
}  