@import url('https://fonts.googleapis.com/css?family=Arima Madurai');
@import url('https://fonts.googleapis.com/css?family=Playfair Display SC');
@import url('https://fonts.googleapis.com/css?family=Abril Fatface');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Indie Flower');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: rgb(210,210,210);
}

::-webkit-scrollbar {
	display: none;
}

.background_picture {
	width: 100%;
	height: 100%;
	background-image: url("beach.jpg");
	display: table;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

/*container*/
.intro {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

/*name*/
.intro h1 {
	color: white;
	font-family: 'Raleway';
	font-size: 50px;
	font-weight: lighter;
	margin-top: 180px;
	margin-bottom: 215px;
	letter-spacing: 0.7vw;
}

.quote1 {
	color: white;
	font-size: 18px;
	font-family: 'Raleway';
	word-spacing: 3px;
	letter-spacing: 3px;
	margin: auto;
	width: 80%;
}

@media only screen and (max-device-width: 1000px) {
	.quote {
		width: 430px;
		margin: auto;
	}

	footer {
		font-size: 7px;
	}
}

.about {
	background: rgb(40,46,52);
	color: white;
	text-align: center;
	padding: 1px;
	height: 200px;
	letter-spacing: 0.5vw;
}

.about h1 {
	font-family: 'Playfair Display SC';
	font-size: 55px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.about p {
	font-size: 40px;
	letter-spacing: 5px;
	margin-top: 5px;
}

.portrait {
	width: 100%;
	height: 50%;
	background-size: cover;
	background-image: url("portrait.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.description {
	width: 57%;
	font-family: 'Raleway';
	padding-top: 75px;
	padding-bottom: 75px;
	margin: auto;
}

.table {
	display: inline;
	width: 80%; 
	padding-bottom: 150px;
	font-family: 'Indie Flower';
	font-size: 30px;
	text-align: center;
}

.socialMedia {
	width: 100%;
	height: 20%;
	background-size: cover;
	background-image: url("socialMedia.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.fa {
    padding: 10px;
    font-size: 25px;
    width: 25px;
    border-radius: 20%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1.5%;
}

.fa-facebook {
	background: linear-gradient(to top right, rgb(85,110,255), rgb(85,110,150));
    color: white;
    opacity: 0.8;
}

.fa-instagram {
	background: linear-gradient(to top left, rgb(255,140,30), rgb(185,50,140));
    color: white;
    opacity: 0.8;
}

.fa-snapchat-ghost {
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
	background: linear-gradient(to top right, rgb(255,220,0), rgb(255,253,102));
	color: white;
	opacity: 0.8;
}

.fa-wechat {
	background: linear-gradient(to bottom right, rgb(90,255,70), rgb(90,200,70));
	color: white;
	opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    color: white;
    font-size: 25px;
    font-family: 'Raleway';
    display: table-cell;
    padding-top: 3%;
}

.landModals img {
	max-width: 100%;
	max-width: 100%;
}

hr {
	height: 12px;
	margin: 0;
	background: rgb(40,40,40);
	border-color: rgb(40,40,40);
}

.interests {
	padding-bottom: 200px;
	text-align: center;
}

.contentHeader {
	background: rgb(52,52,52);
	color: white;
	font-weight: bold;
	font-size: 3vw;
	font-family: 'Arima Madurai';
	height: 70px;
	padding-top: 3%;
	padding-left: 4vw;
	padding-bottom: 7%;
	letter-spacing: 5vw;
}

.buttonHeader {
	margin-top: 0;
	background: rgb(52,52,52);
}

.catButton {
	color: white;
	font-family: 'Raleway';
	background-color: transparent;
	border-color: rgb(52,52,52);
	border-style: solid;
	padding-top: 10px;
	outline: none;
	cursor: pointer;
	display: solid;

	width: 13%;
	font-size: 1.3vw;
	margin-top: 2%; 
	margin-bottom: 2%;
	transition: font-size 0.5s;
}

.catButton button:hover {
	font-size: 1.6vw;
	border-top-color: rgb(180,180,180);
}

.bar {
	font-size: 25px;
	color: white;
}

a {
	text-decoration: none;
	color: black;
	display: inline-block;
}

.quote2 {
	padding-top: 3%;
	font-size: 0.7vw;
	font-family: 'Raleway';
	word-spacing: 5px;
	letter-spacing: 4px;
	margin: auto;
	padding-bottom: 10px;
}

.lange {
	background-color: transparent;
	border: none;
	outline: none;
	font-family: 'Raleway';
	font-size: 0.75vw;
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 1px;
	border-radius: 1%;
	padding: 6px;
}

.contentSection {
	margin-top: 5%;
}

.contentSection img {
	object-fit: cover;
	width: 400px;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.4);
	border-radius: 1%;
	cursor: pointer;

	margin-left: 20px;
	margin-right: 20px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.imageStyle img:hover {
	-webkit-filter: brightness(60%);
	transition: 0.2s;
}

footer {
	background-color: rgb(190,190,190);
	font-family: 'Raleway';
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}