/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');*/

body, html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 2vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

/*----------------------------------FADEIN*/
section {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/*----------------------------------HEADER*/
#header {
  padding-bottom: 15vh;
}

#name-div {
  float: left;
  transition: all 0.5s ease;
}

#name {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: inline;
}

#name-div:hover {
  transform: translateY(10px);
}

#darkmode:hover {
  transform: none;
}

#nav-div {
  float: right;
}

.nav {
  display: inline-block;
  margin-left: 2vw;
  transition: all 0.5s ease;
}

.nav:hover {
  transform: translateY(8px);
}

.nav > a {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

/*--------------------------------DARK MODE*/
#darkmode {
  color: #868686;
}

label {
  vertical-align: sub;
  line-height: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition .4s;
}

input:checked + .slider {
  background-color: #66BB6A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #66BB6A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------INTRODUCTION BODY*/
#landing-div {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 200px;
  max-height: 115px;
  border-radius: 10px;
}

#description {
  text-align: center;
  font-size: 36px;
  transition: all 0.3s ease;
}

#description:hover {
  font-size: 38px;
  transition: all 0.3s ease;
  cursor: default;
}

.wip {
  text-align: center;
  font-size: 22px;
  transition: all 0.3s ease;
}

.wip:hover {
  transform: translateY(-10px);
  cursor: default;
  transition: all 0.3s ease;
}

/*-----------------------------WORK*/
.grid-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 21vw;
  height: 21vw;
  margin-bottom: 15rem;
}

.grid-item img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

.grid-item img:hover {
  transform: translateY(15px);
  cursor: pointer;
}

.grid-left {
  margin-right: auto;
}

.grid-middle {
  margin-left: auto;
  margin-right: auto;
}

.grid-right {
  margin-left: auto;
}

#title {
  font-size: 22px;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
}

#summary {
  font-size: 14px;
  line-height: 140%;
  color: rgb(100,100,100);
  margin: 0;
}

/*-----------------------------CONTACT*/
#contact {
  font-size: 36px;
  margin-bottom: 10rem;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 140%;
}

#contact ul a {
  text-decoration: none;
  border-bottom: 4px solid transparent;
  color: black;
}

#contact ul a:hover {
  border-color: black;
}

/*----------------------------FOOTER*/
#footer {
  margin-bottom: 5rem;
}

#copyright {
  font-size: 18px;
}