/*-----------------------------RESPONSIVENESS*/
@media only screen and (max-width: 767px) {
  body .aboutContainer { width: 100%; margin-bottom: 10vw; }
  body .aboutPic img { margin-bottom: 10vw; }
  .aboutContainer .aboutTxt { font-size: 4vw; }
  .aboutContainer .aboutSpacing { margin-bottom: 10vw; }
}

/*----------------------------------------ABOUT*/
.aboutPic img {
  width: 100%;
  margin-bottom: 10vw;
}

.aboutContainer {
  width: 60%;
  margin-bottom: 10vw;
}

.aboutContainer p {
  font-size: 1.3vw;
  line-height: 200%;
  margin: 0;
}

.aboutSpacing {
  margin-bottom: 5vw;
}