/*----------------------------------------ABOUT*/
.aboutPic img {
  width: 100%;
  margin-bottom: 5vw;
}

.aboutArea {
  display: grid;
  grid-template-columns: 55% 15% 30%;
  margin-bottom: 10vw;
}

.aboutArea p {
  font-size: 1.3vw;
  line-height: 140%;
  margin: 0;
}

.aboutHeader {
  font-size: 1.8vw;
  font-weight: 600;
  color: #D4D4D4;
  padding-bottom: 0.5vh;
}

.about-subdivs {
  margin-bottom: 3vw;
}

.about-p {
  padding-bottom: 1vw;
}

#movie-title {
  font-size: 1vw;
}

#movie-poster {
  padding-top: 1vh;
}

.movie > .movie-spacing p {
  font-size: 1vw !important;
}

.movie-spacing {
  padding-top: 1vh;
}