.parallax {
  perspective: 1px;
  height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax-base {
  transform: translateZ(0);
}
.parallax-back {
  transform: translateZ(-1px) scale(2);
}

#light-bg {
  background:url("../assets/light-bg.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 95vh;
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  transition: all 0.5s ease;
  z-index: 0;
}

/*----------------------------------HEADER*/
#name-div {
  float: left;
  transition: all 0.5s ease;
}

#name-div:hover {
  transform: translateY(8px);
}

#name {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: inline;
  transition: all 0.5s ease;
}

/*-----------------------------INTRODUCTION BODY*/
#description {
  font-size: 3.5vw;
  margin:0;
  float: right;
  font-weight: 600;
  transition: all 0.5s ease;
}
#description:hover {
  cursor: default;
}

#description-2 {
  font-size: 1.5vw;
  float: right;
  transition: all 0.5s ease;
}
#description-2:hover {
  cursor: default;
}

.wip {
  text-align: center;
  font-size: 22px;
  transition: all 0.3s ease;
}

#parallax-bar {
  width: 100%;
  height: 1.5vh;
  background-color: rgb(230,230,230);
  transition: all 0.5s ease;
}

/*-----------------------------WORK*/
.fixed-txt {
  position: fixed;
  z-index: 1;
}

.content {
  margin-top: 10vw;
  margin-left: 15vw;
  margin-right: 15vw;
  z-index: 1;
}

.grid-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  position: relative;
  width: 32vw;
  height: 32vw;
  margin-bottom: 12rem;
}

.grid-item img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  border-radius: 3px;
}

.grid-item-right {
  margin-left: auto;
}

.grid-content {
  transition: all 0.5s ease;
}
.grid-content:hover {
  transform: translateY(17px);
  cursor: pointer; 
}

.no-transition {
  -webkit-transform: none !important;
  transform: none !important;
}
.not-ready {
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
}
.coming-soon {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 50%;
  width: 100%;
}

#title {
  font-weight: 600;
  font-size: 1.8vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

#summary {
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 140%;
  color: rgb(150,150,150);
  margin: 0;
}