/*----------------------------------HEADER*/
#name-div {
  float: left;
  transition: all 0.5s ease;
}

#name-div:hover {
  transform: translateY(8px);
  color: #BDBDBD;
}

#name-div > a:hover {
  color: #757575;
}

#name {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: inline;
  transition: all 0.5s ease;
}

/*-----------------------------INTRODUCTION BODY*/
#landing-div {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 150px;
  max-height: 115px;
  border-radius: 10px;
}

#description {
  text-align: center;
  font-size: 36px;
  transition: all 0.3s ease;
}

#description:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: default;
}

.wip {
  text-align: center;
  font-size: 22px;
  transition: all 0.3s ease;
}

/*-----------------------------WORK*/
.grid-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 21vw;
  height: 21vw;
  margin-bottom: 15rem;
}

.grid-item img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

.grid-item img:hover {
  transform: translateY(15px);
  cursor: pointer;
}

.grid-left {
  margin-right: auto;
}

.grid-middle {
  margin-left: auto;
  margin-right: auto;
}

.grid-right {
  margin-left: auto;
}

#title {
  font-size: 22px;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
}

#summary {
  font-size: 14px;
  line-height: 140%;
  color: rgb(100,100,100);
  margin: 0;
}