/*-----------------------------RESPONSIVENESS*/
@media only screen and (max-width: 767px) {
  #year { display: none; }
  
  body #description { font-size: 5.5vw; width: 100%; margin-bottom: 26vw; margin-top: 8vw;}
  body #color-block { top: 50vw; left: 12vw; width: 76%; height: 8vw; }
  body #white-block { top: 50vw; left: 12vw; width: 76%; height: 8vw; }
  body #description-2 { font-size: 3.5vw; width: 100%; margin-bottom: 19vw;}

  body .content-header { font-size: 2vw; margin-bottom: 5vw; } 

  body .grid-container-right { display: flex; flex-wrap: wrap; margin-bottom: 7vw;}
  body .grid-container-left { display: flex; flex-wrap: wrap; margin-bottom: 7vw;}
  body #work-img { order: 1; }
  body #work-des { order: 2; }
  body .grid-item { margin-bottom: 4vw; width: 100%;}
  body #title { font-size: 3vw; }
  body #summary { font-size: 2.2vw; }
  body .coming-soon { font-size: 4vw; }
}


/*-----------------------------INTRODUCTION BODY*/
#description {
  font-size: 3vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  font-weight: 500;
  transition: all 0.5s ease;
  width: 55%;
  line-height: 120%;
  z-index: 10;
}
#description-2 {
  font-size: 1.8vw;
  transition: all 0.5s ease;
  margin-bottom: 15vw;
  width: 55%;
  line-height: 120%;
  z-index: 10;
}

#white-block {
  position: absolute;
  top: 14vw;
  right: 12vw;
  width: 45%;
  height: 25vw;
  background: white;
  z-index: -1;
}

#color-block {
  position: absolute;
  top: 14vw;
  right: 12vw;
  width: 45%;
  height: 25vw;
  opacity: 0.75;
  z-index: -1;
  animation: colorchange 20s ease infinite;
  -webkit-animation: colorchange 20s ease infinite; /* Chrome and Safari */
}

@keyframes colorchange {
  0%   {background: #E57373;}
  10% {background: #F06292;}
  20%  {background: #BA68C8;}
  30%  {background: #7986CB;}
  40%  {background: #4FC3F7;}
  50% {background: #4DB6AC;}
  60% {background: #81C784;}
  70% {background: #DCE775;}
  80% {background: #FFD54F;}
  90% {background: #FFB74D;}
  100% {background: #E57373;}
}

@-webkit-keyframes colorchange {
  0%   {background: #E57373;}
  10% {background: #F06292;}
  20%  {background: #BA68C8;}
  30%  {background: #7986CB;}
  40%  {background: #4FC3F7;}
  50% {background: #4DB6AC;}
  60% {background: #81C784;}
  70% {background: #DCE775;}
  80% {background: #FFD54F;}
  90% {background: #FFB74D;}
  100% {background: #E57373;}
}



/*-----------------------------WORK*/
.fixed-txt {
  position: fixed;
  z-index: 1;
}

.content-header {
  font-size: 1vw;
  margin-bottom: 2vw;
}

.grid-container-right {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
}

.grid-container-left {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
}

.grid-item {
  position: relative;
  width: 90%;
  margin-bottom: 10vw;
}

.grid-item img {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  overflow: visible;
}

.grid-item-right {
  margin-left: auto;
}

.grid-item:hover p {
  color: #FF8A65;
  cursor: pointer;
}

.grid-item:hover img {
  transform: translateY(-1vw);
}

.grid-content {
  transition: all 0.5s ease;
  overflow: hidden;
}

.no-transition {
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
}

.coming-soon {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 50%;
  width: 100%;
}

#title {
  font-weight: 500;
  font-size: 2vw;
  line-height: normal;
  margin-bottom: 2vw;
  width: fit-content;
  text-decoration: none;
}
#title:hover {
  text-decoration: underline;
}

#summary {
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 160%;
  margin-top: 2vw;
  padding-bottom: 2vw;
}

#year {
  font-weight: 500;
  font-size: 1vw;
}