html, body {
  font-size: 1vw;
}

.work-banner {
  width: 70vw;
  height: 35vh;
  background-color: #343434;
  margin-bottom: 5vw;
}

.work-description {
  font-size: 1vw;
  color: white;
  margin-left: 5vw;
  margin-right: 5vw; 
}

.project-header {
  font-size: 2vw;
  font-weight: 600;
  margin: 0;
}

.body-container-longterm {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 5vw;
}

.body-container-longterm img {
  width: 100%;
}

.project-date {
  color: #7A7A7A;
}