/*-----------------------------RESPONSIVENESS*/
@media only screen and (max-width: 767px) {
  body .content-margins { padding-top: 15vw; }
  #logo { display: none; }
  body .nav { margin-left: 0; margin-right: 5vw;}
  body .nav a { font-size: 2vw !important; }
  
  /*darkmode*/
  body #darkmode span { font-size: 2vw; }
  body .switch { 
    position: absolute;
    top: 14.8vw;
    right: 12vw;
    width: 4.2vw; height: 2.4vw;
  }
  body .slider:before { height: 2vw; width: 2vw; left: 0.2vw; bottom: 0.2vw; }
  body input:checked + .slider:before {
    -webkit-transform: translateX(1.75vw);
    -ms-transform: translateX(1.75vw);
    transform: translateX(1.75vw);
  }
  /*end darkmode*/

  body #contact { font-size: 3vw; }
  body #contact ul { line-height: 200%; }

  body #copyright, body #note { font-size: 2vw; }
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

p {
  line-height: 210%;
  margin: 0;
}

a { color: black; }

.line-height-160 {
  line-height: 160%;
}

.line-height-210 {
  line-height: 210%;
  margin: 0;
}

.mb-2 { margin-bottom: 2vw; }
.mb-0 { margin-bottom: 0vw; }

/*----------------------------------FADEIN*/
section {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/*----------------------------------HEADER*/
#header {
  padding-bottom: 7vw;
}

#logo {
  height: 2vw;
  float: left;
}

#nav-div {
  float: right;
}

.nav {
  display: inline-block;
  margin-left: 2vw;
  transition: all 0.5s ease;
}

.nav > a {
  font-size: 1vw;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
  line-height: 2vw;
}

/*--------------------------------ONLY BLACK NAV*/
#home-bx {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-bx, #about-bx, #photo-bx {
  color: black;
  padding-bottom: 1vw;
  border-bottom: 0.1vw solid transparent;
}
#home-bx:hover, #about-bx:hover, #photo-bx:hover {
  border-bottom: 0.1vw solid black;
}

/*--------------------------------ONLY WHITE NAV*/
#home-wx {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-wx, #about-wx, #photo-wx {
  color: white;
  padding-bottom: 1vw;
  border-bottom: 0.1vw solid transparent;
}
#home-wx:hover, #about-wx:hover, #photo-wx:hover {
  border-bottom: 0.1vw solid white;
}

/*--------------------------------BLACK NAV*/
#home-b {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-b, #about-b, #photo-b {
  color: black;
  padding-bottom: 1vw;
  border-bottom: 0.1vw solid transparent;
}
#home-b:hover, #about-b:hover, #photo-b:hover {
  border-bottom: 0.1vw solid black;
}

/*--------------------------------WHITE NAV*/
#home-w {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-w, #about-w, #photo-w {
  color: white;
  padding-bottom: 1vw;
  border-bottom: 0.1vw solid transparent;
}
#home-w:hover, #about-w:hover, #photo-w:hover {
  border-bottom: 0.1vw solid white;
}

/*--------------------------------DARK MODE*/
#darkmode {
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
}
#darkmode-txt-bx {
  margin-right: 1vw;
  color: black;
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
}
#darkmode-txt-wx {
  margin-right: 1vw;
  color: white;
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
}
#darkmode-txt-b {
  margin-right: 1vw;
  color: black;
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
}
#darkmode-txt-w {
  margin-right: 1vw;
  color: white;
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
}

label {
  vertical-align: sub;
  /*25px = 1.85vw*/
  /*line-height: 1.85vw;*/
  line-height: 2vw;
}

.switch {
  position: relative;
  display: inline-block;
  /*33px = 2.1vw, 18px = 1.2vw*/
  width: 2.1vw;
  height: 1.2vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  /*16px = 1vw, 1px = 0.1vw*/
  height: 1vw;
  width: 1vw;
  left: 0.1vw;
  bottom: 0.1vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66BB6A;
}

input:focus + .slider {
  box-shadow: 0 0 0.1vw #66BB6A;
}

input:checked + .slider:before {
  /*15px = 0.9vw*/
  -webkit-transform: translateX(0.85vw);
  -ms-transform: translateX(0.85vw);
  transform: translateX(0.85vw);
}

/* Rounded sliders */
.slider.round {
  /*17px = vw*/
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------BODY*/
.content-margins {
  padding-top: 5vw;
  margin-left: 12vw;
  margin-right: 12vw;
}

/*-----------------------------CONTACT*/
#contact {
  font-size: 2.2vw;
  margin-bottom: 10vw;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 140%;
  display: block;
}

#contact a {
  display: block;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
  width: fit-content;
}

#contact a:hover {
  transform: translateX(10px);
}

/*----------------------------FOOTER*/
#footer {
  margin-bottom: 5vw;
}

#copyright {
  font-size: 1vw;
  float: right;
}

#note {
  font-size: 1vw;
  float: left;
  transition: all 0.5s ease;
}
#note:hover {
  font-style: italic;
  transition: all 0.5s ease;
  cursor: default;
}