/*-----------------------------RESPONSIVENESS*/
@media only screen and (max-width: 767px) {
  /*landing*/
  body #content-margins { padding-top: 18vw; top: 90vw; }
  body #header { padding-bottom: 15vw; padding-top: 10vw; }
  #darkmode-txt { display: none; }
  body .nav { margin-right: 9vw;}
  body .nav a { font-size: 3.2vw !important; }
  /*end landing*/
  
  /*darkmode*/
  body #darkmode span { font-size: 2vw; }
  body .switch { position: absolute; top: 14.5vw; right: 12vw; width: 6.3vw; height: 3.6vw; }
  body .slider:before { height: 3vw; width: 3vw; left: 0.3vw; bottom: 0.3vw; }
  body input:checked + .slider:before { -webkit-transform: translateX(2.65vw); -ms-transform: translateX(2.65vw); transform: translateX(2.65vw); }
  /*end darkmode*/

  /*work*/
  body .section-header { font-size: 3.2vw; padding-bottom: 1vw;}
  /*end work*/

  /*footer*/
  body #footer { padding-top: 5vw; }
  body #contact { font-size: 4vw; font-weight: 500; margin-bottom: 15vw;}
  body #copyright, body #note { font-size: 3vw; }
  /*end footer*/
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

p { line-height: 210%; margin: 0; }
a { color: black; }

.line-height-160 { line-height: 160%; }
.line-height-210 { line-height: 210%; margin: 0; }

.mb-2 { margin-bottom: 2vw; }
.mb-0 { margin-bottom: 0vw; }

/*----------------------------------FADEIN*/
section {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/*----------------------------------HEADER*/
.default-top {
  top: 0 !important;
  padding-top: 5vw !important;
  padding-top: 5vw;
  padding-left: 12vw;
  padding-right: 12vw;
}

.head-container {
  padding-top: 5vw;
  padding-left: 12vw;
  padding-right: 12vw;
  position: fixed;
  z-index: -2;
}

.highlight {
  background-image: linear-gradient(transparent, transparent 68%, rgb(188, 240, 224) 68%, rgb(188, 240, 224));
}

#header {
  padding-bottom: 7vw;
}

#logo {
  height: 2vw;
  float: left;
}

#nav-div {
  float: right;
}

.nav {
  display: inline-block;
  margin-right: 2vw;
  transition: all 0.5s ease;
}

.nav > a {
  font-size: 1vw;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
  line-height: 2vw;
}

/*--------------------------------ONLY BLACK NAV*/
#home-bx {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-bx, #about-bx, #photo-bx {
  color: black;
}
#home-bx:hover, #about-bx:hover, #photo-bx:hover {
  color: #8C8C8C;
}

/*--------------------------------ONLY WHITE NAV*/
#home-wx {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-wx, #about-wx, #photo-wx {
  color: white;
}
#home-wx:hover, #about-wx:hover, #photo-wx:hover {
  color: #8C8C8C;
}

/*--------------------------------BLACK NAV*/
#home-b {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-b, #about-b, #photo-b {
  color: black;
}
#home-b:hover, #about-b:hover, #photo-b:hover {
  color: #8C8C8C;
}

/*--------------------------------WHITE NAV*/
#home-w {
  font-size: 1vw;
  display: inline;
  transition: all 0.5s ease;
}
#home-w, #about-w, #photo-w {
  color: white;
}
#home-w:hover, #about-w:hover, #photo-w:hover {
  color: #8C8C8C;
}

/*--------------------------------DARK MODE*/
#darkmode {
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
  margin-right: 0;
}
#darkmode-txt {
  margin-right: 1vw;
  color: #8C8C8C;
  font-size: 1vw;
  transition: all 0.5s ease;
  line-height: 2vw;
}

label {
  vertical-align: sub;
  /*25px = 1.85vw*/
  line-height: 1.85vw;
}

.switch {
  position: relative;
  display: inline-block;
  /*33px = 2.1vw, 18px = 1.2vw*/
  width: 2.1vw;
  height: 1.2vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  /*16px = 1vw, 1px = 0.1vw*/
  height: 1vw;
  width: 1vw;
  left: 0.1vw;
  bottom: 0.1vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66BB6A;
}

input:focus + .slider {
  box-shadow: 0 0 0.1vw #66BB6A;
}

input:checked + .slider:before {
  /*15px = 0.9vw*/
  -webkit-transform: translateX(0.85vw);
  -ms-transform: translateX(0.85vw);
  transform: translateX(0.85vw);
}

/* Rounded sliders */
.slider.round {
  /*17px = vw*/
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------BODY*/
#content-margins {
  padding-top: 7vw;
  padding-left: 12vw;
  padding-right: 12vw;
  position: absolute;
  width: 76vw;
  top: 40vw;
  background: black;
  transition: all 0.5s ease;
}

.section-header {
  font-size: 1vw;
  color: #8C8C8C;
  padding-bottom: 1vw;
}

/*-----------------------------CONTACT*/
#contact {
  font-size: 2.2vw;
  margin-top: 5vw;
  margin-bottom: 12vw;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 160%;
  display: block;
}

#contact a {
  display: block;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
  width: fit-content;
}

#contact a:hover {
  transform: translateX(10px);
}

#email:hover {
  cursor: pointer;
}

/*----------------------------FOOTER*/
#footer {
  margin-bottom: 5vw;
}

#copyright {
  font-size: 1vw;
  float: right;
}

#note {
  font-size: 1vw;
  float: left;
  transition: all 0.5s ease;
}