/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');*/

body, html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

.line-height-160 {
  line-height: 160%;
}

/*----------------------------------FADEIN*/
section {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/*----------------------------------HEADER*/
#header {
  padding-bottom: 20vh;
}

#home-div {
  float: left;
  transition: all 0.5s ease;
}

#home-div:hover {
  transform: translateY(8px);
}

#home {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: inline;
  transition: all 0.5s ease;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
  }
  50% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }
  100% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
  }
  50% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }
  100% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .6s, 2s;
  animation-duration: .6s, 2s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#darkmode:hover {
  transform: none;
}

#nav-div {
  float: right;
}

.nav {
  display: inline-block;
  margin-left: 2vw;
  transition: all 0.5s ease;
}

.nav:hover {
  transform: translateY(6px);
}

.nav > a {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
}

/*--------------------------------DARK MODE*/
#darkmode {
  color: rgb(100,100,100);
}

label {
  vertical-align: sub;
  line-height: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition .4s;
}

input:checked + .slider {
  background-color: #66BB6A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #66BB6A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------BODY*/
.content-margins {
  padding-top: 5vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

/*-----------------------------CONTACT*/
#contact {
  font-size: 2rem;
  margin-bottom: 5rem;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 140%;
  display: block;
}

#contact a {
  display: block;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
  width: fit-content;
}

#contact a:hover {
  transform: translateX(10px);
  color: #9E9E9E; 
}

/*----------------------------FOOTER*/
#footer {
  margin-bottom: 5rem;
}

#copyright {
  font-size: 1vw;
  width: fit-content;
  display: inline;
}

#note {
  font-size: 1vw;
  float: right;
  display: inline;
  margin: 0;
}