@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Indie Flower');

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#photography body, #photography {
  background: rgb(18,23,18);
}


/*Navigation Bar*/
#photography #navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background: rgb(18,23,18);
}

#photography li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway';
  float: left;
  dsiplay: block;
  color: black;
  text-align: center;
  padding: 10px 7px;
  background-color: rgb(220,220,220);
}

#photography #home {-webkit-transition: 0.3s; transition: 0.3s;}
#photography #home:hover {
  font-weight: bold;
  color: rgb(230,230,230);
  background-color: rgb(35,35,35);
}

#photography #photography-header {
  float: left;
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  padding-top: 7px;
  padding-left: 25px;
}


/*Social Media Links*/
#photography .socialMedia a {
  float: right;
  position: relative;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  text-decoration: none;
}

#photography .fa {
    font-size: 20px;
    width: 20px;
    border-radius: 3px;
    margin: 15px 30px -7px 0;
    padding: 5px 5px 5px 7px;
    opacity: 0.9;
    color: white;
    background: rgb(18,23,18);
}

#photography .fa-instagram:hover {
  background: linear-gradient(to top left, rgb(255,140,30), rgb(185,50,140));
  color: white;
}
#photography .fa-linkedin:hover {
  background: #007bb5;
  color: white;
}


/*Landing Page*/
#photography .background_picture {
	background-image: url("../images/beach.jpg");
  width: 100%;
	height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
@media only screen and (max-device-width: 1024px) {
  #photography .background_picture {
    background-attachment: scroll;
    background-repeat: no-repeat;
  }
}


/*Landing Page container*/
#photography .animation-intro {
  font-color: white;
	width: 42%;
  height: 75%;
	margin: 0 auto;
  position: relative;
  text-align: center;
}
#photography .animation-text {
  color: black;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 29px;
  position: absolute;
  top: 12vw;
  animation-name: topFadeIn;
  animation-delay: 0.2s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes topFadeIn {
  0% { position: absolute; top: -5%; opacity: 0;}
  75% { position: absolute; top: 12vw; opacity: 1; }
  100% { opacity: 1; }
}


/*Horizontal Divider*/
#photography .horizontal-divider {
	background: rgb(45,45,45);
	height: 25px;
}

#photography .portrait {
	background-image: url("../images/portrait.jpg");
  width: 100%;
  height: 650px;
  background-position: center center;
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: contain;
}
@media only screen and (max-device-width: 1024px) {
  #photography .portrait {
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 900px;
  }
}


/*Description*/
#photography .description-container {
  background: rgb(220,220,220);
}

#photography .description {
  font-size: 25px;
	width: 50vmax;
	font-family: 'Raleway';
	padding-top: 100px;
	padding-bottom: 100px;
	margin: auto;
}

#photography .table {
	display: inline;
	width: 80%; 
	padding-bottom: 150px;
	font-family: 'Indie Flower';
	font-size: 30px;
	text-align: left;
}


/*Photography Section*/
#photography .contentSection {
	padding-bottom: 200px;
	text-align: center;
  background-color:white;
}

#photography .gallery-div {
	padding-top: 30px;
	background: rgb(45,45,45);
}

#photography .gallery {
	color: rgb(230,230,230);
	font-family: 'Raleway';
	padding-bottom: 30px;
  margin: auto;
  letter-spacing: 2px;
}

#photography .photos {
	margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

#photography .photos img {
	object-fit: cover;
  width: 22vw;
  height: 22vw;
	cursor: pointer;
	margin: 0.1vw;
}

#Landscape {
  display: table;
  margin: auto;
  margin-top: 5vw;
}

.cap {
  height: 0px;
  width: 100%;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  font-family: "Raleway";
  font-size: 1.6vw;
}

p span {
  display: block;
  margin-bottom: 7px;
}

.img_wrap {
  width: 22vw;
  height: 22vw;
  position: relative;
  text-align: center;
  color: white;
  display: table-cell;
}

.img_wrap:hover {
  -webkit-filter: brightness(70%);
}

.img_wrap:hover .cap {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
}


/* Modal Background */
#photography .modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}


/*For Resizing Window*/
#photography .imgModals img {
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

#photography .imgModals img:hover {
  -webkit-filter: none;
}


/*Go to Top Button*/
#photography #topBtn {
  display: block;
  position: fixed;
  height: 4.7vmax;
  width: 4.7vmax;
  bottom: 10%;
  right: 2%;
  z-index: 50;
  border: none;
  outline: none;
  background-color: rgb(230,230,230);
  font-size: 1vmax;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#photography #topBtn:hover {
  background-color: rgb(200,200,200);
}


/*Footer*/
#photography ul li {
  display: inline;
}

#photography #foot {
  list-style-type: none;
  color: rgb(220,220,220);
  background-color: rgb(45,45,45);
  font-family: 'Raleway';
}

#photography #footer-description {
	font-size: 15px;
  padding-bottom: 1%;
  padding-right: 1%;
  float: left;
}

#photography #footer-date {
  float: right;
  font-size: 15px;
  padding-bottom: 1%;
  padding-right: 1%;
}