html, body {
  font-size: 1vw;
}

#caida-banner {
  width: 100vw;
  height: 35vh;
  margin-top: -10vh;
  margin-left: -15vw;
  background-color: #BBE8E0;
  display: table;
  margin-bottom: 5vw;
}

#valign-div {
  display: table-cell;
  vertical-align: middle;
}

.work-title {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0 !important;
}

.inline-div {
  float: left;
}

/*---------------------------Container 1*/
.heading-container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 15vw;
  margin-right: 15vw;
}

.heading-container p {
  margin: 0.5vw;
}

.work-logo {
  text-align: center;
  padding-top: 3vh;
}

.work-header {
  font-weight: 600;
  margin-left: 0 !important;
}

/*---------------------------Container 2*/
.body-container {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-bottom: 5vw;
}

.body-container p {
  margin: 0;
  line-height: 210%;
}

.body-container img {
  width: 100%;
}

/*---------------------------Container 3*/
.impact-container {
  display: grid;
  grid-template-columns: 15% 35% 50%;
  margin-bottom: 5vw;
}

.impact-container p {
  margin: 0;
  line-height: 210%;
}

.impact-container img {
  width: 100%;
  object-fit: contain;
}

.caption {
  padding-right: 1vw;
}

/*---------------------------Container 4*/
.conclusion-container {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-bottom: 20vw;
}

.conclusion-container p {
  margin: 0;
  line-height: 210%;
}